* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f1e9e9;
    color: #0e0e0d;
}


header {
    background-color: #ffae00;
    color: #030303;
    padding: 20px 0;
    text-align: center;
    text-decoration: underline;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}


nav {
    background-color: #f5e400;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0f0f0f;
    text-decoration: underline;
}

nav h3 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

article {
    background-color: #e7e6e3;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ol {
    margin-left: 20px;
    margin-top: 10px;
}

img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


footer {
    background-color: #f7ad0d;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}